# Virtual Environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & tests
.pytest_cache/
.coverage

# IDEs
.vscode/
.idea/

# Data files (ignore everything inside data except directory placeholders)
data/**/*
!data/**/
!data/**/README.md
!data/**/.gitkeep
